###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Ee]xcluded/
JetBrains/

*_REMOTE_*
*_BACKUP_*
*_LOCAL_*
*_BASE_*

*[Ee]xcluded.*
*[Ee]xclude.*
*[Ee]xcluded*
*[Ee]xclude*
*.orig
*.meta~*

sysinfo.txt

*.pidb.meta
*.stackdump

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
#*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

ShaderCache/
Environments/Builds/
*.lock
.vs
.vscode

*.unitypackage
ScenePreviews/
*.orig.meta